name: M3U generator

on:
  schedule:
    - cron: "0 */6 * * *"
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Run script
        run: |
          chmod +x autorun.sh
          ./autorun.sh

      - name: Commit & Push if changes exist
        run: |
          git add -A
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "links are updated"
            git push
          fi